* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 160px 1fr;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

/**---STYLING FOR ASIDE---**/

aside {
  background-color: #354052;
}

hr {
  border: 1.4px solid #2f3746;
}

.aside-image-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 15%;
  justify-content: center;
}

.aside-image {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.aside-header-text {
  color: #939FB2;
  display: inline-block;
  font-size: .8rem;
}

.fa-angle-down {
  /*padding: 3%;*/
}

.aside-ul-header {
  border-top: #2f3746;
  color: #62718A;
  font-family: 'Lato', sans-serif;
  padding-left: 10%;
  margin-bottom: 0;
  font-size: 14px;
}

.aside-lists {
  align-content: left;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  padding: 0 10%;
}


.aside-icons {
  color: #939FB2;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  padding: 2px;
  width: 15px;
}





.aside-icon-text {
  color: #939FB2;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  padding-left: 10%;
  font-size: 10px;
}

/**---STYLING FOR NAV---**/

nav {
  border-bottom: 1.4px solid #e7e9eb;
  display: grid;
  grid-template-columns: 60px 40px 1fr 60px 60px 60px;
  height: 60px;
}

.nav-icons {
  color: #7d8593;
  font-size: 1.1rem;
  margin: auto;
  height: 60px;
  width: 60px;
  padding: 20px;
}

.fa-bars {
  border-right: 1.4px solid #e7e9eb;
}

.fa-calendar-plus, 
.fa-user-plus, 
.fa-th {
  border-left: 1.4px solid #e7e9eb;
}

.nav-search-input {
  border: none;
  border-bottom: 1.4px solid #e7e9eb;
  padding-left: 5px;
}


/**---STYLING FOR DASHBOARD---**/


.dashboard-section {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}

h2 {
  margin: 40px 0 0;
  color: #4e515d;
}

.fa-map-pin {
  padding-left: 2px;
  color: #8c95a4;
}

.dashboard-city {
  color: #8c95a4;
  font-size: 15px;
}

.dashboard-preview {
  font-size: 15px;
}

a {
  color: #5faff4;
  text-decoration: none;
}

.dashboard-job-info {
  display: inline-block;
  margin: 10px 5px 0 0;
}

.dashboard-buttons-section {
  margin: 43px 40px 0 0;
}

.fa-circle {
  color: #99c454;
  font-size: 12px;
  height: 14px;
  width: 14px;
  margin-right: 5px;
  /*align-content: center;*/
  /*margin: auto 0;*/
}

.dashboard-icon-btns {
  background: none;
  border-radius: 50%;
  border: 1px solid #d8dee4;
  color: #9ba2ad;
  height: 40px;
  padding: 4px;
  margin: 5px;
  width: 40px;
}

.open-btn {
  border-radius: 20px;
  height: 40px;
  width: 80px;
  text-align: center;
}

.dashboard-links {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

.dashboard-buttons {
  border: transparent;
  color: #9199A8;
  font-size: 15px;
  padding: 15px 0;
  margin-right: 40px;
}

.dashboard-buttons:hover {
  border-bottom: 2px solid #48A3F3;
  color: #62656F;
}


.graph-circle-section {
  background-color: #ecf0f4;
  display: grid;
  grid-template-columns: 60% 40%;
}

.graph-image {
  height: 200px;
  width: 400px;
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 33%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}