* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 160px 1fr;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

/**---STYLING FOR ASIDE---**/

aside {
  background-color: #354052;
}

hr {
  border: 1.4px solid #2f3746;
}

.aside-image-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 15%;
  justify-content: center;
}

.aside-image {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.aside-header-text {
  color: #939FB2;
  display: inline-block;
  font-size: .8rem;
}

.aside-ul-header {
  border-top: #2f3746;
  color: #62718A;
  font-family: 'Lato', sans-serif;
  margin-left: 10%;
  margin-bottom: 0;
  font-size: 14px;
}

.aside-lists {
  align-content: center;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  padding: 0 1px;
}

.aside-lists li {
  border-left: 2px solid transparent;
}

.aside-lists li:hover {
  background-color: #313948;
  border-left: 1.9px solid #48a3f3;
  width: 150px;
}


.aside-icons {
  color: #939FB2;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  padding-left: 18px;
  width: 15px;
}

.aside-icon-text {
  color: #939FB2;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  padding-left: 30px;
  font-size: 10px;
}

/**---STYLING FOR NAV---**/

nav {
  border-bottom: 1.4px solid #e7e9eb;
  display: grid;
  grid-template-columns: 60px 40px 1fr 60px 60px 60px;
  height: 60px;
}

.nav-icons {
  color: #7d8593;
  font-size: 1.1rem;
  margin: auto;
  height: 60px;
  width: 60px;
  padding: 20px;
}

.fa-bars {
  border-right: 1.4px solid #e7e9eb;
}

.fa-calendar-plus, 
.fa-user-plus, 
.fa-th {
  border-left: 1.4px solid #e7e9eb;
}

.nav-search-input {
  border: none;
  border-bottom: 1.4px solid #e7e9eb;
  padding-left: 5px;
}


/**---STYLING FOR DASHBOARD---**/


.dashboard-section {
  display: flex;
  justify-content: space-between;
  margin: 0 0 40px 40px;
}

h2 {
  margin: 40px 0 0;
  color: #4e515d;
}

.fa-map-pin {
  padding-left: 2px;
  color: #8c95a4;
}

.dashboard-city {
  color: #8c95a4;
  font-size: 15px;
}

.dashboard-preview {
  font-size: 15px;
}

a {
  color: #5faff4;
  text-decoration: none;
}

.dashboard-job-info {
  display: inline-block;
  margin: 10px 5px 0 0;
}

.dashboard-buttons-section {
  margin: 43px 40px 0 0;
}

.fa-circle {
  color: #99c454;
  font-size: 12px;
  height: 14px;
  margin-right: 5px;
  width: 14px;
}

.dashboard-icon-btns {
  background: none;
  border-radius: 50%;
  border: 1px solid #d8dee4;
  color: #9ba2ad;
  height: 40px;
  margin: 5px;
  padding: 4px;
  width: 40px;
}

.open-btn {
  border-radius: 20px;
  height: 40px;
  text-align: center;
  width: 80px;
}

.dashboard-buttons {
  color: #9199A8;
  font-size: 15px;
  padding: 15px 0;
  margin-right: 40px;
  display: inline;
}

.dashboard-buttons:hover {
  border-bottom: 2.3px solid #48A3F3;
  color: #62656F;
}

/**---GRAPH & CIRCLES SECTION---**/

.graph-circle-section {
  background-color: #ecf0f4;
  display: grid;
  grid-template-columns: 55% 45%;
  height: 320px;
  padding-top: 15px;
}

.graph-image-section {
  display: flex;
  justify-content: center;
}

.graph-image {
  height: 220px;
  width: 440px;
  margin-top: 15px;
}

.total-cirlce-btn {
  background-color: #fafafc;
  border: 1px solid #d3dae1;
  border-radius: 30px;
  color: #616b7c;
  font-size: 12px;
  height: 30px;
  margin: 5px auto;
  width: 225px;
}

.bar-graph-btn {
  background-color: #fafafc;
  border: 1px solid #d3dae1;
  border-radius: 25px;
  color: #616b7c;
  font-size: 12px;
  height: 30px;
  margin: 5px auto;
  width: 175px;
}

.flex-wrapper-section {
  height: 220px;
}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 25px 0 15px;
}

.single-chart {
  width: 33%;
  justify-content: space-around;
  position: relative;

}

.circular-chart {
  display: block;
  margin: 14px auto;
  max-width: 75%;
  max-height: 210px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 80;
  }
}

.circular-chart.green .circle {
  stroke: #67b8bf;
}

.circular-chart.blue .circle {
  stroke: #48a3f3;
}

.circular-chart.purple .circle {
  stroke: #a46dab;
}

.circle-number {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.4em;
  text-anchor: middle;
}

.circle-text {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.15em;
  text-anchor: middle;
}


/**---PAGE BREAK---**/

.page-breaks-section {
  background-color: #ecf0f4;
  margin: 0 auto;
  padding-left: 60px;
}

.left-page-break, 
.right-page-break {
  border: 1px solid #d3dae1;
  display: inline-block;
  width: 45%;
}

.fa-angle-up {
  color: #9ca3ae; 
  margin-top: 15px;
  font-size: 40px;
}

/**---JOB SECTION---**/

.job-section {
  background-color: #ecf0f4;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.job-table-section {
  margin: 30px 0;
  width: 100%;
}

.job-side-section {
  width: 85%;
  margin-top: 30px;
}

.job-side-buttons {
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  display: block;
  height: 40px;
  font-size: 15px;
  width: 85%;
}

.job-side-widgets {
  width: 90%;
  border-bottom: 2px solid #d3dae1;
  padding-bottom: 30px;
}

.no-border {
  border-bottom: none;
}

.fab {
  left: 18px; 
  margin-top: 2px;
  position: absolute;
}

h3 {
  color: #5b6677;
  margin-bottom: 10px;
}

.fb-button {
  background-color: #5271bd;
  margin-bottom: 4%;
  position: relative;
}

.tweet-button {
  background-color: #48a8e9;
  margin-bottom: 4%;
  position: relative;
}

.linkedin-button {
  background-color: #347db6;
  position: relative;
  margin-bottom: 40px;
}


.job-side-inputs {
  border: none;
  border-radius: 2px;
  font-size: 12px;
  height: 35px;
  width: 220px;
}

.job-button-input {
  border-radius: 2px;
  border: none;
  font-size: 12px;
  height: 35px;
  position: absolute;
  width: 53px;
}

.job-side-widgets button {
  background-color: #67b8bf;
  border: none;
  color: #FFFFFF;
  height: 35px;
}


.job-side-icons {
  margin-right: 10px;
}

.job-widget-text {
  color: #8E95A3;
  font-size: 12px;
  line-height: 17px;
  margin-top: 0;
}

.job-table table { 
  border-collapse: collapse; 
  text-align: left; 
  width: 100%; 
} 

.job-table {
  background: #fff; 
  font: 12px/150% Helvetica, sans-serif; 
  overflow: hidden; 
  width: 85%;
  margin: 0 auto;
}

.job-table-edit-btn {
  background-color: #7e8ba4;
  border: none;
  color: #FFFFFF;
  height: 30px;
  width: 80px;
}

.job-table table td, 
.job-table table th { 
  padding: 22px; 
}

.job-table table thead th {
  background-color: #717D92; 
  color: #FFFFFF; 
  font-size: 15px; 
  font-weight: normal; 
  width: 120px;

} 

.job-table table thead th:first-child { 
  border: none; 
  font-size: 14px;
}

.job-table table tbody td { 
  color: #6F7987; 
  font-size: 12px;
  border-bottom: 1px solid #EFF2F5;
  font-weight: normal; 
}

.job-table table tbody td:first-child { 
  border-left: none; 
  font-weight: bold;
}

.job-table table tbody tr:last-child td { 
  border-bottom: none; 
}

.fa-pencil-alt {
  padding-right: 5px;
}

.upload-input {
  width: 273px;
}


@media only screen and (max-width: 1160px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
  }
  aside {
    display: none;
  }
  .flex-wrapper-section {
  padding-top: 20px;
  height: 200px;
  }
}

@media only screen and (max-width: 954px) {
  .dashboard-buttons {
    margin-right: 30px;
  }
  .graph-image {
    height: 180px;
    width: 380px;
  }
  .flex-wrapper-section {
    padding-top: 20px;
    height: 200px;
  }
}

@media only screen and (max-width: 875px) {
  .dashboard-buttons {
    line-height: 40px;
  }
  .job-side-inputs {
    width: 77%;
  }
  .upload-input {
    width: 110%;
  }
}

@media only screen and (max-width: 850px) {
  .graph-circle-section {
    display: grid;
    grid-template-columns: 1fr;
    height: 700px;
  }
   .graph-image {
    height: 220px;
    width: 440px;
  }
  .job-side-buttons {
    font-size: 12px;
    width: 100%;
}

@media only screen and (max-width: 705px) {
  h3 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 550px) {
  .job-section {
    grid-template-columns: 1fr;
  }
  .job-side-section {
    margin: 0 auto;
  }
 .job-side-inputs {
    width: 85%;
  }
  .page-breaks-section {
    padding-left: 26px;
  }
   .upload-input {
    width: 97%;
  }
 
}




/*.graph-image {
  height: 220px;
  width: 440px;
  margin-top: 15px;
}




*/